
<section style="background-image: url(/img/massage.jpg)">
    <h1  style="text-align: center; margin-top: 100px; ">CHANGE PASSWORD</h1> 
<div class="fcontainer" >
   
    <form method="post" action="/user/change-password">
        <div>
            <label> current Password</label>
            <input type="password" placeholder="current password" id="current_password" name="current_password"><br>
        </div>

        <div>
            <label>new Password</label>
            <input type="text" placeholder=" new password" id="new_password" name="new_password"><br>
        </div>

        <div>
            <label>Confirm Password</label>
            <input type="text" placeholder=" confirm password" id="confirm_password" name="confirm_password"><br>
        </div>

        <button>Change</button>
    </form>
</div>
</section>