<div>
    <form method="post">
        <div>
            <label> current Password</label>
            <input type="password" placeholder="current password" id="current_password" name="current_password"><br>
        </div>

        <div>
            <label>new Password</label>
            <input type=" new password" placeholder=" new password" id="new_password" name="new_password"><br>
        </div>

        <div>
            <label>Confirm Password</label>
            <input type="confirm password" placeholder=" confirm password" id="confirm_password" name="confirm_password"><br>
        </div>

        <button>Change</button>
    </form>
</div>