<form method="post">
    <div class="container">
       <label>force change password</label>
        <input type="checkbox" name="force_change_password"> 
      </div>
      <div>
      <!-- <label>reset Password</label> -->
        <!-- <input type="radio" name="password_action" placeholder="" value="resetPassword"> <br><br> -->
      </div>
     
  
      <button class="button3" type="Submit">Add</button>
</form>

<style>
  .container{
   display: flex;
   justify-content: center;
   align-items: center;
  }
</style>