<section  style="background-image: url(/img/flower.jpg); ">
<center class="fcontainer" style="margin-top: 50px;">
<form method="post" action="" > 
    <h3 style="color: #fff;">please enter your phone_number</h3>
    <input type="text" name="phone_number" placeholder="enter your phone_number"><br>

    <!-- <a href="/user/login"> login</a> -->
    <button type="submit" class="button3">submit</button>
</form>
</center>
</section>