<section  style="background-image: url(/img/flower.jpg)">
<center class="fcontainer">
    <h4 style="color: #fff;">please use the token below to login your account</h4>
    <form>
        <input type="text" name="token" placeholder="token"><br>
       <button type="sumit" class="button3">login</button>
    </form>
</center>
</section>

