<div class="profile">
<h2>My profile</h2>

<a href="/user/change-password" style="color: green;">change-password</a>


</div>

<style>
    .profile{
        margin-top: 5em;
        text-align: center;
    }
   
</style>