<section >

    <div class="container">
    <h1>All failed bookings</h1>
    
    <% failedBookings.forEach((failedBooking) =>{ %>
        <%- failedBooking.name -%>
        <%- failedBooking.phone -%>
        <%- failedBooking.email -%>
        
       
        
    
    <%})%> 
    

    
    </div>
    </section>
    
    <style>
      .container{
          margin-top: -350px;
          text-align: center;
          font-size: 25px;
          color: #fff;
      } 
    
       a{
          text-align: center;
      }
      section {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        /* background-attachment:fixed; */
        /* padding: 3.5rem  ; */
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
        
        
    </style>