<div>
    <form method="post" action="">
        <div>
            <input type="text" name="name" placeholder="name"><br>
        </div>
        <div>
            <input type="text" name="phone_number" placeholder="phone_number"><br>
        </div>

        <div>
            <input type="text" name="password" placeholder="password"><br>
        </div>
    </form>
</div>