<div class="loginContainer">
<form action="" style="max-width:500px;margin:auto" method="post" >
  <h2>LOGIN FORM</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="username">
  </div>

  <!-- <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>
   -->
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password">
  </div>

  <button type="submit" class="btn">Register</button>
</form>
</div>
<style>
    body 
    {
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("/img/dryer.jpg");
         background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .loginContainer{
      box-shadow: 2px 3px 2px 3px rgb(15, 54, 54);
      border: 3px solid #691818;
      padding: 2em;
      width: 500px;
      min-height: 50vh;
      border-radius: 3px;
     margin: 50px;
      margin: auto;
      margin-top: 7em;
      margin-bottom: 12em;

    }

    .loginContainer h2{
      text-align: center;
      color: #fff;
  }
    
    .input-container {
      display: -ms-flexbox; 
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      border: 5px solid #fff;
    }
    
    .icon {
      padding: 10px;
      background:#691818 ;
      color: white;
      min-width: 50px;
      text-align: center;
    }
    
    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
    }
    
    .input-field:focus {
      border: 2px solid #691818;
    }
    
    /* Set a style for the submit button */
    .btn {
      background-color: #691818;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .btn:hover {
      opacity: 1;
    }
    </style>
