 <div class="loginContainer">
<div class="sms">
  <%  if (message !== 'undefined') {%> 
    <%= message %> 
  <%  } %>
</div>
<form action="" style="max-width:500px;margin:auto" method="post">
 
  <h2>LOGIN FORM</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="username">
  </div>
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password">
  </div>
  <!-- <div class="option_div">
    <div class="check_box">
      <input type="checkbox">
      <span>Remember me</span>
    </div>
    <div class="forget_div">
      <a href="#">Forgot password?</a>
    </div>
  </div> -->

  <button type="submit" class="btn">Sign in</button>
  <div id="icons">
    <ul>
      <i class="fa fa-twitter " style=" font-size:30px"></i>
      <i class="fa fa-facebook " style=" font-size:30px"></i>
       <i class="fa fa-instagram " style=" font-size:30px"></i>
      <i class="fa fa-google-plus " style=" font-size:30px"></i>
     
  </ul>
  </div>
  <!-- <div class="sign_up">
   <span class="question">Not a member?</span>  <a href="#">Signup now</a>
  </div> -->
</form>
</div>
<style> 
 
    body 
    {
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("/img/dryer.jpg");
         background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sms{
      color: red;
     font-weight: bold;
     font-size: 20px;
    }

    .user{
      text-align: center;
      font-size: larger;
      background-color: grey;
      color: grey;
    }


    .loginContainer{
      box-shadow: 2px 3px 2px 3px rgb(15, 54, 54);
      border: 3px solid #691818;
      padding: 3em;
      width: 500px;
      min-height: 20vh;
      border-radius: 3px;
     margin: 30px;
      margin: auto;
      margin-top: 7em;
      margin-bottom: 12em;

    }

    .loginContainer h2{
      text-align: center;
      color: #691818;
     margin-bottom: 20px;
     font-weight: bolder;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    
    .input-container {
      display: -ms-flexbox; 
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 20px;
      border: 5px solid #691818;
    }
    
    .icon {
      padding: 10px;
      background:#691818 ;
      color: white;
      min-width: 50px;
      text-align: center;
    }
    
    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
     
    }
    
    .input-field:focus {
      border: 2px solid #691818;
    }
    
    form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .option_div .check_box{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
  }
  .option_div span{
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
  }
  
  .option_div .forget_div a{
    font-size: 16px;
    color: #be2edd;
  }
    /* Set a style for the submit button */
    .btn {
      background-color: #691818;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      border-radius: 20px;
   
    }
    
    .btn:hover {
     opacity: 0.7;
    }

    #icons{
      color: #fff;
      text-align: center;
      margin-left: 5em;
    }

    form .sign_up{
    text-align: center;
    margin-top: 15px;
  }
  .sign_up a{
    color: #be2edd;
  }

  .question{
    color: #fff;
  }
    </style> 
     <!-- <div class="wrapper">
      <div class="title">Login Form</div>
      <form action="" method="post">
        <div class="field">
          <input type="text" name="username" required>
         
          <label>User Name</label>
        </div>
        <div class="field">
          <input name="password" type="password" required>
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
        </div>
        <div class="field">
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
        <div id="icons">
          <ul>
            <i class="fa fa-twitter " style=" font-size:30px"></i>
            <i class="fa fa-facebook " style=" font-size:30px"></i>
             <i class="fa fa-instagram " style=" font-size:30px"></i>
            <i class="fa fa-google-plus " style=" font-size:30px"></i>
           
        </ul>
        </div>
      </form>
    </div>

    <style>
      body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("/img/dryer.jpg");
         background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;  
      }
      .wrapper{
  width: 380px;
  /* background: #fff; */
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-left: 30rem;
  margin-top: 30px;
  margin-bottom: 7rem;
  border: 1px solid black;
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #55557c, #660404);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #55557c, #660404);
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

#icons{
      color: white;
      text-align: center;
      margin-left: 1em;
    }
    </style>  -->