<section style="background-image: url('img/saloon3.jpg') ">
    <div class="text1" >
        <!-- id="anim" -->
        <h1 >WELCOME TO ICY'S BEAUTY SPAR</h1>
<h4>Where Beauty Is 100% Sure</h4>
</div>

 <!-- <div class="paper">
    <div class="card">
        <h4 style="text-align: center;color: palevioletred; font-weight: bolder;" id="anim">CONTACT US</h4>
        <p>Spa Which You Love
            WE Are specialise in all types 
            of beauty treatments and give just the best 
            of every treatment.
            contact  us directly through<br>
            Tell: 0956687543/ 02598754<br>
            email: sparbty@gmail.com<br>
            Address : we are situated at Spintex
        </p>

    </div>
</div>
    <div class="intro">
        <div class="introduction">
<h1  id="anim">TESTIMONIALS</h1>

</div>
<div class="landingPage">
    <div>
        <img src="/img/landing1.jpg">
        <h4>makeovers of all kinds<br>
            my weeding was a blast<br>
            all thanks to beauty spar<br>
            for my makeover i will <br>
           recommend it to everyone  <br>
           for types of makeup
        </h4>
    </div>
    <div>
        <img src="/img/landing2.jpg">
        <h4>massages of all kinds<br>
            spar beauty helped me<br>
            fight stress with their<br>
            wonderful massage and care<br>
            your health is sure with BS<br>
        </h4>
    </div>
    <div>
        <img src="/img/landing3.jpg">
        <h4>facial treatments of <br>
            all kinds i could not<br>
            walk with my bare face <br>
           because of pimples and scare<br>
            but after my treatent at Sp, i feel confident<br>
        </h4>
    </div>
   <div>
    <img src="/img/dryer.jpg">
    <h4>hairt treatments <br>
       before, i could not do<br>
        ghana braids on my hair<br>
        because of the scantynature<br>
        ofmy hair but after i visited BS <br>
        everything changed
    </h4>
   </div>
  
</div> 

 </div> 
</section>

<style>
    .paper{
        background-image: url("/img/landing4.jpg");
        box-shadow: 2px 3px 2px 3px rgb(15, 54, 54);
      border: 3px solid #dfd6d6;
      padding: 3em;
      width: 400px;
      min-height: 40vh;
      margin: 50px;
       background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7em;
    margin-left: -2px;
    border-radius: 10px;
    font-weight: bolder;

      /* margin: auto; */
      /* margin-top: 7em;
      margin-bottom: 12em */
    } -->
</style>