<div class="fcontainer">

    <h1>add slots </h1>
    <form method="post">
        <div>
        
            <input type="date" name="slot_date" placeholder="Date"> <br><br>
        </div>
        <div>
            <label for="">Quantity</label>
            <input type="number" name="quantity" placeholder="quantity"><br><br>
        </div>

        <button class="button3" type="Submit">Add</button>
    </form>
</div>
<style>
  body{
    background-image: url("/img/m2.jpg");
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment:fixed; */
    /* padding: 3.5rem  ; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    .fcontainer{
   /* background-color: rgb(4, 47, 65); */
   /* background-color: #0e1e2c; */
  /* box-shadow: 2px 3px 2px 3px rgb(15, 54, 54); */
  border: 3px solid #691818;
  padding: 2em;
  width: 500px;
  min-height: 50vh;
  border-radius: 3px;
 margin: 50px;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 7em;
  color: #691818;
  /* color: rgb(15, 54, 54); */
  }

  .fcontainer h1{
      text-align: center;
      color: rgb(58, 4, 4);
  }

  .fcontainer .layout{
  border-radius: 8px;
  margin: auto;
  color: #fff;
 
}
.layout p{
  text-align: center;
}
.fcontainer input{
  width: 90%;
 padding: 0.8rem;
 border: 2px solid #691818;
 /* color: white; */
 margin: 0.6em;
 border-radius: 5px;
 /* border: none; */
 

}
.fcontainer input:focus{
  outline: none;
}

textarea{
  width: 90%;
  min-height: 30vh;
 padding: 0.8rem;
 /* outline: none; */
 /* color: white; */
 margin: 0.6em;
 border-radius:  5px;
 border: 2px solid rgb(99, 13, 13);
 /* border: none; */
 

}
.button3{
  border: none;
  background-color: rgb(58, 4, 4);
  text-align: center;
  padding: 0.8em;
  margin: 1em;
  
  /* margin-bottom: 2em; */
  border-radius: 7px; 
  color: #fff; 
  width: 100px;
  margin-left: 13em; 
}
</style>