<div class="formcontainer">

    <h1>delete slots </h1>
    <form method="post">
        <div>
            <label for="">date</label>
            <input type="text" name="date"> <br><br>
        </div>
        <div>
            <label for="">quantity</label>
            <input type="number" name="quantity"><br><br>
        </div>
       



        <button type="Submit">delete</button>
    </form>
</div>
<style>
    .formcontainer {
        margin-top: 5rem;

    }

    .formcontainer h1 {
        text-align: center;
    }

    form {
        text-align: center;
    }

    form label {
        font-size: 15px;
        color: brown;
        font-family: tahoma;
    }

    form input {
        border-radius: 5px;

    }
</style>